.display {
   --width: 100vw;
   display: flex;
}

.barcounter {
    border: 1px black solid;
    justify-content:center;
    height: 1rem;
    width: var(--width) / 2);
    margin: 0%;
    padding: 0%;
    position: relative;
}

.bulb {
    border: 1px black dotted;
    width: calc((var(--width) / 2) / 9);
    position: relative;
}
/* 
.til-bar {
    width: 100%;
} */